<%- include('partials/header') %>

<h2 class="dash-header">About <span class="bitsurvey">BitSurvey</span></h2>

<p>We created <span class="bitsurvey">BitSurvey</span> as part of our Hackathon Project for the Masters course in Financial Technology at the <a class="about-link" href="https://exeter.ac.uk">University of Exeter.</a></p>

<p>In recognition that the importance of data in our world is ever increasing, our main objective was to create a survey application that rewards users instantly for their opinions. We decided to use Bitcoin SV as it requires low transaction fees meaning that microtransactions are feasible.</p>

<p>If you have any improvements or suggestions for the site and its future, please don't hesitate to contact us <a class="about-link" href="mailto:james.edwards.2999@gmail.com">here.</a></p>

<p><em>The <span class="bitsurvey">BitSurvey</span> Team</em></p>


<%- include('partials/footer') %>